<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">leaders in renewable energy</h6>
        <p>& SUSTAINABLE RECRUITMENT,EMPLOYMENT & CONSULTING & CONSULTING SERVICES IN AFRICA</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.sed do eiusmod tempor incididunt ut labore et dolore
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">PAGES</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#!">JOBS</a>
          </li>
          <li>
            <a href="#!">VERIFICATION</a>
          </li>
          <li>
            <a href="#!">RECRUITMENT</a>
          </li>
          <li>
            <a href="#!">EMPLOYMENT SERVICES</a>
          </li>
          <li>
            <a href="#!">ABOUT</a>
          </li>
          <li>
            <a href="#!">BLOG</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">SUPPORT</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!">CONTACT US</a>
          </li>
          <li>
            <a href="#!">JOBSEEKER</a>
          </li>
          <li>
            <a href="#!">EMPLOYER</a>
          </li>
          <li>
            <a href="#!">RECRUITER</a>
          </li>
          <li>
            <a href="#!">TERMS & CONDITIONS</a>
          </li>
          <li>
            <a href="#!">PRIVACY POLICY</a>
          </li>
        </ul>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">SOUTH AFRICA | KENYA</h6>


        <p>
          <i class="fas fa-phone mr-3"></i> + 27 21 880 2561</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> careers@altgen.com</p>
        <p>
          <i class="fas fa-home mr-3"></i> 3rd floor,Block c,Boulevard Office Park,searle Street,Woodstock,Cape
          Town,7925 South Africa</p>
      </div>
      <!-- Grid column -->



    </div>
    <!-- Footer links -->


  </div>
  <!-- Footer Links -->


  <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
  <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>


</footer>
<!-- Footer -->