<app-header></app-header>
<div class="homeBanner">
    <app-navbar></app-navbar>
</div>
<div class="searchBox">
    <div class="heading">
        <span>YOUR DREAM JOB</span><span class="dark"> STARTS HERE</span>
        <div class="dropdown ">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Country
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" >South Africa</a>
                <a class="dropdown-item" >Kenya</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="form-group">
                <select class="form-control">
                    <option selected disabled>Search Keyword</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Industry">
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Location">
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="row">
            <div class="col d-sm-none">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Country
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" >South Africa</a>
                        <a class="dropdown-item" >Kenya</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <button type="button" class="btn jobButton">FIND JOBS</button>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="job-highlight">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="jobInfoBox">
                <div class="customHeader">
                    Southern Africa
                </div>
                <ul  class="countryList">
                    <li class="company">
                        <div class="companyLogo">
                        </div>
                        <div class="companyData">
                            <div class="jobPosition">
                                <span>FINANCE MANAGER,</span><span class="location"> Kenya</span>
                            </div>
                            <div class="jobDetail">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </div>
                        </div>
                    </li>
                    <li class="company">
                        <div class="companyLogo">
                        </div>
                        <div class="companyData">
                            <div class="jobPosition">
                                <span>FINANCE MANAGER,</span><span class="location"> Kenya</span>
                            </div>
                            <div class="jobDetail">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </div>
                        </div>
                    </li>
                    <li class="company">
                        <div class="companyLogo">
                        </div>
                        <div class="companyData">
                            <div class="jobPosition">
                                <span>FINANCE MANAGER,</span><span class="location"> Kenya</span>
                            </div>
                            <div class="jobDetail">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </div>
                        </div>
                    </li>
                    <li class="company">
                        <div class="companyLogo">
                        </div>
                        <div class="companyData">
                            <div class="jobPosition">
                                <span>FINANCE MANAGER,</span><span class="location"> Kenya</span>
                            </div>
                            <div class="jobDetail">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="boxPagination">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="jobInfoBox">
                <div class="customHeader">
                    East Africa
                </div>
                <ul  class="countryList">
                    <li class="company">
                        <div class="companyLogo">
                        </div>
                        <div class="companyData">
                            <div class="jobPosition">
                                <span>FINANCE MANAGER,</span><span class="location"> Kenya</span>
                            </div>
                            <div class="jobDetail">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </div>
                        </div>
                    </li>
                    <li class="company">
                        <div class="companyLogo">
                        </div>
                        <div class="companyData">
                            <div class="jobPosition">
                                <span>FINANCE MANAGER,</span><span class="location"> Kenya</span>
                            </div>
                            <div class="jobDetail">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </div>
                        </div>
                    </li>
                    <li class="company">
                        <div class="companyLogo">
                        </div>
                        <div class="companyData">
                            <div class="jobPosition">
                                <span>FINANCE MANAGER,</span><span class="location"> Kenya</span>
                            </div>
                            <div class="jobDetail">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </div>
                        </div>
                    </li>
                    <li class="company">
                        <div class="companyLogo">
                        </div>
                        <div class="companyData">
                            <div class="jobPosition">
                                <span>FINANCE MANAGER,</span><span class="location"> Kenya</span>
                            </div>
                            <div class="jobDetail">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="boxPagination">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="customHeader">
                EMPLOYER APPLICANT TRACKER
            </div>
            <div class="customBody">
                <div class="customItem">
                    <div class="itemIcon">
                    </div>
                    <div class="itemDetail">
                        CONTINGENCY RECRUITMENT
                    </div>
                </div>
                <div class="customItem">
                    <div class="itemIcon">
                    </div>
                    <div class="itemDetail">
                        EXECUTIVE SEARCH
                    </div>
                </div>
                <div class="customItem">
                    <div class="itemIcon">
                    </div>
                    <div class="itemDetail">
                        HR SERVICES
                    </div>
                </div>
                <div class="customItem">
                    <div class="itemIcon">
                    </div>
                    <div class="itemDetail">
                        EXECUTIVE COACHING
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="customHeader">
                CANDIDATE ZONE
            </div>
            <div class="customBody">
                <div class="customItem">
                    <div class="itemIcon">
                    </div>
                    <div class="itemDetail">
                        QUALIFICATIONS VERIFICATION
                    </div>
                </div>
                <div class="customItem">
                    <div class="itemIcon">
                    </div>
                    <div class="itemDetail">
                        JOB SEARCH
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

